body{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
*{
    box-sizing: border-box;
}
/*Typography*/
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

h1 {
    font-size: 32px;
}
h2{
    font-size: 26px
}
h3 {
    font-size: 22px;
}
h4{
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6{
    font-size: 15px;
}
a {
    text-decoration: none;
	color: inherit;
}
/*Helpers*/
.clearfix::after, .cleafix::before{
    content: "";
    display: table;
}
.clearfix {
    display: block;
    clear: both;
}
/*main Sections begin*/
.app {
    width: 100%;
    max-width: 1000px;
    position: relative;
    margin: auto;
}
